{% load static %}
<!DOCTYPE html>


<html lang="ua">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/css?family=Asap:400,700|Roboto:300,400,500,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'shop/css/media.css' %}">
        <link rel="stylesheet" href="{% static 'shop/css/main.css' %}">

        <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <header>
        	<div class="topHead">
        		<div class="logo">
        			<a href="/shop/"><img src="{% static 'shop/images/logo-book.svg' %}" alt="" width="30" height="30"></a>
                    <a href='/shop/'><p>Bookland</p></a>
        		</div>
        		<div class="search">
        		 	<div class="searchBlock">
                        <form method="GET" action="{% url 'search:SearchedInfo' %}">
                            <input type="text" name="query" placeholder="Search products">
                                <img src="{% static 'shop/images/search.svg' %}" height="15" width="15" alt="">
                        </form>
        			</div>
        		</div>
        		<div class="buttonBlock">
        			<div class="loginBlock">
                        <a href=""><img src="{% static 'shop/images/login.svg' %}" height="40" width="40" alt=""></a>

                        {% if user.is_authenticated %}
                            {%  if user.pk %}
                                You are currently logged in as <a href="{% url 'account:AccountDetail'  pk=user.pk %}">{{ user.email }}</a>, not you? <a href="{% url 'account:Logout' %}">Logout</a>
                            {%  endif %}
                        {% else %}
                            <a href="{% url 'account:SignUp' %}">Sign Up</a> or <a href="{% url 'account:Login' %}">Login</a>
                        {% endif %}
        			</div>
        			<div class="basketBlock">
                        <a href="{% url "cart:CartDetail" %}">
                            <img src="{% static 'shop/images/basket.svg' %}" height="40" width="40" alt="">
                        </a>
        				<div class="circle">
                            {% with total_items=cart|length %}
        					    <p>{{ total_items }}</p>
                            {% endwith %}
        				</div>
        			</div>
        		</div>
        	</div>
        </header>
        {% block content %} {% endblock %}
    </body>
    <footer>
            <div class="footerBlock">
                <p>created by TheManimal 2017</p>
            </div>
    </footer>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'shop/js/main.js' %}"></script>
</html>